.SetPasswordForm{
    width: 60%;
    height: 50%;
}

.must-item{
    position: relative;
    width: 15em;
    height: 3em;

    border: 0.1em solid orange;
}

.must-text{
    position: absolute;

    top: 1.5em;
    left: 1em;

    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 0;

    color: red;
}

.must-line{
    position: absolute;
    z-index: 3;
    top: 1.5em;
    
    width: 0;
    height: 0.1em;
    
    background-color: red;
    border-radius: 1px;

    transition: 2s;
}

.cross-out{
    width: 100%;
}