.UpdatePasswordContainer{
    min-width: 35%;
    min-height: 50%;

    box-shadow: 1px 2px 2px #073B4C;
    border-radius: 2em;
    border: 1px solid #073B4C;
    background-color: #FFD166;
}

.must-container{
    margin-bottom: 1em;
    border: 0.1em solid #073B4C;
}

.must-item{
    position: relative;

    width: 15em;
    height: 1em;

    padding: 0.2em 0;

    border-bottom: 0.1em solid #073B4C;
    background-color: #DAF3FC;
}

.must-text{
    position: absolute;
    z-index: 0;
    top: 0.6em;
    left: 1em;

    width: 100%;

    padding: 0;
    margin: 0;
    line-height: 0;
}

.must-line{
    position: absolute;
    z-index: 1;
    top: 0.5em;
    
    width: 0;
    height: 0.2em;
    
    background-color: #EF476F;
        
    transition: 0.5s;
}

.cross-out{
    width: 100%;
}

/* misc styling for form elements */
label{
    padding-bottom: 1em;
    font-size: 0.8em;
}

input{
    padding: 0.4em 0.5em;
}

h4{
    padding-top: 1em;
    margin: 0.7em;
    line-height: 0;
}
